apiVersion: v1
kind: Pod
metadata:
  name: {{ .Values.service.name }}
  labels:
    chart: "{{ .Chart.Name | trunc 63 }}"
    chartVersion: "{{ .Chart.Version | trunc 63 }}"
    visualize: "true"
    app: {{ .Values.service.name }}
spec:
  containers:
  - name: {{ .Chart.Name }}
    image: "{{ .Values.image.repository }}:{{ .Chart.Version }}"
    imagePullPolicy: {{ .Values.image.pullPolicy }}
    env:
    - name: AWS_ACCESS_KEY_ID
      valueFrom:
        secretKeyRef:
          name: global-secrets
          key: aws.access_key_id
    - name: AWS_SECRET_ACCESS_KEY
      valueFrom:
        secretKeyRef:
          name: global-secrets
          key: aws.secret_access_key
    - name: FACTSET_USER
      valueFrom:
        secretKeyRef:
          name: global-secrets
          key: factset.user
    - name: FACTSET_KEY
      valueFrom:
        secretKeyRef:
          name: global-secrets
          key: factset.key
    - name: FACTSET_FTP
      value: {{ .Values.env.FACTSET_FTP }}
    - name: PACKAGES
      value: {{ .Values.service.packages }}
    - name: RDS_DSN
      valueFrom:
        secretKeyRef:
          name: global-secrets
          key: {{ .Values.service.rds_dsn_secret }}
    - name: LOG_LEVEL
      value: {{ .Values.config.logLevel }}
    ports:
    resources:
{{ toYaml .Values.resources | indent 6 }}
  volumes:
  - name: factset-persistent
    persistentVolumeClaim:
      claimName: "{{ .Values.service.name }}-pvc"

